extends ../layout

block content
  h2= post.title
  p= post.body
  span= post.created.toGMTString()
  p By: #{post.author}
  if session.isLoggedIn
    ul
      li
        a(href="/post/edit/#{post.id}") Edit
      li
        a(href="/post/remove/#{post.id}") Delete